<zondagschoolapp-navbar></zondagschoolapp-navbar>

<div *ngIf="this.teacher" class="wrapper">

    <div class="row border-bottom mb-3 ms-4">
        <h1>Verwijder leraar '{{this.teacher.firstname}} {{this.teacher.lastname}}'</h1>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3 text-end">
            <p><b>Naam : </b></p>
            <p><b>Emailadres : </b></p>
            <p><b>Geboortedatum : </b></p>
            <p><b>Stad : </b></p>
            <p><b>Straat : </b></p>
            <p><b>Huisnummer : </b></p>
            <p><b>Postcode : </b></p>
        </div>
        <div class="col">
            <p>{{this.teacher.firstname}} {{this.teacher.lastname}}</p>
            <p>{{this.teacher.emailaddress}}</p>
            <p>{{this.teacher.birthdate! | date: 'dd-MM-yyyy'}}</p>
            <p>{{this.teacher.city}}</p>
            <p>{{this.teacher.street}}</p>
            <p>{{this.teacher.housenumber}}</p>
            <p>{{this.teacher.postalcode}}</p>
        </div>
    </div>

    <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#deleteTeacherModal"
        id="deleteTeacherInput">Verwijder</button>
    <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/teacher">Terug</button>

    <div id="deleteTeacherModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verwijder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je leraar '{{this.teacher.firstname}} {{this.teacher.lastname}}' wilt
                        verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <button (click)="deleteTeacher()" routerLink="/teacher" data-bs-dismiss="modal"
                        class="btn btn-primary">Wijzigingen opslaan</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myModal = document.getElementById('updateTeacherModal')
        var myInput = document.getElementById('updateTeacherInput')
        let username = document.getElementById('')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
</div>

<zondagschoolapp-footer></zondagschoolapp-footer>