<div *ngIf="this.teacher" class="wrapper">

    <div class="row border-bottom mb-3 ms-4">
        <h1>Deleting teacher '{{this.teacher.firstName}} {{this.teacher.lastName}}'</h1>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3 text-end">
            <p><b>Name : </b></p>
            <p><b>Email Address : </b></p>
            <p><b>Birthday : </b></p>
            <p><b>City : </b></p>
            <p><b>Street : </b></p>
            <p><b>Housenumber : </b></p>
            <p><b>Postalcode : </b></p>
        </div>
        <div class="col">
            <p>{{this.teacher.firstName}} {{this.teacher.lastName}}</p>
            <p>{{this.teacher.emailAddress}}</p>
            <p>{{this.teacherBirthDate}}</p>
            <p>{{this.teacher.city}}</p>
            <p>{{this.teacher.street}}</p>
            <p>{{this.teacher.houseNumber}}</p>
            <p>{{this.teacher.postalCode}}</p>
        </div>
    </div>

    <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#deleteTeacherModal"
        id="deleteTeacherInput">Delete Teacher</button>
    <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/teacher">Back</button>

    <div id="deleteTeacherModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete '{{this.teacher.firstName}} {{this.teacher.lastName}}'</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="deleteTeacher()" routerLink="/teacher" data-bs-dismiss="modal"
                        class="btn btn-primary">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myModal = document.getElementById('updateTeacherModal')
        var myInput = document.getElementById('updateTeacherInput')
        let username = document.getElementById('')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
</div>