<zondagschoolapp-navbar></zondagschoolapp-navbar>

<div *ngIf="this.student && this.studentForm">

    <div class="row mb-2">
        <h2>Leerling '{{student.firstname}} {{student.lastname}}' bewerken</h2>
    </div>

    <form [formGroup]="studentForm" (ngSubmit)="updateStudent()">

        <label class="form-label" for="firstName">Voornaam: </label>
        <input class="form-control mb-2" id="firstName" type="text" formControlName="firstName">

        <label class="form-label" for="lastName">Achternaam: </label>
        <input class="form-control mb-2" id="lastName" type="text" formControlName="lastName">

        <label class="form-label" for="birthDate">Geboortedatum: </label>
        <input class="form-control mb-2" id="birthDate" type="date" max="{{this.dateNow}}" formControlName="birthDate">

        <label class="form-label" for="city">Stad: </label>
        <input class="form-control mb-2" id="city" type="text" formControlName="city">

        <label class="form-label" for="street">Straat: </label>
        <input class="form-control mb-2" id="street" type="text" formControlName="street">

        <label class="form-label" for="houseNumber">Huisnummer: </label>
        <input class="form-control mb-2" id="houseNumber" type="number" formControlName="houseNumber">

        <label class="form-label" for="postalCode">Postcode: </label>
        <input
            [class.is-invalid]="this.studentForm.get('postalCode')!.invalid && this.studentForm.get('postalCode')!.touched"
            class="form-control mb-2" id="postalCode" type="text" formControlName="postalCode">
        <div *ngIf="this.studentForm.get('postalCode')!.invalid && this.studentForm.get('postalCode')!.touched">
            <small style="color: red;">Vul een geldige postcode in!</small>
        </div>

    </form>

    <p class="form-label"><b>Recommended classes:</b></p>
    <ul>
        <li class="text-muted" *ngFor="let recommendedClass of this.recommendedClasses">{{this.recommendedClass!.name}} (Leeftijd: {{this.recommendedClass?.age}} jaar, Tijd: {{this.recommendedClass?.time}})</li>
    </ul>
    
    <label class="form-label">Classes:</label>
    <div *ngFor="let item of checkboxesDataList">
        <input type="checkbox" name="" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">
        {{item.subject}}
    </div>

    <form [formGroup]="studentForm" (ngSubmit)="updateStudent()">

        <p *ngIf="studentForm.status == 'INVALID'" class="text-muted">Vul alle velden in om door te gaan</p>

        <button class="btn btn-primary mt-2" type="submit" [disabled]="!studentForm.valid">Toevoegen</button>
        <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/student">Terug</button>
    </form>

</div>

<zondagschoolapp-footer></zondagschoolapp-footer>