<zondagschoolapp-navbar></zondagschoolapp-navbar>
<div *ngIf="this.teachers && this.class">

    <form [formGroup]="classForm">

        <label class="form-label" for="name">Name: </label>
        <input class="form-control mb-2" id="name" type="text" formControlName="name">

        <label class="form-label" for="age">Age: </label>
        <input class="form-control mb-2" id="age" type="number" formControlName="age">

        <label class="form-label" for="time">Time: </label>
        <input class="form-control mb-2" id="time" type="time" formControlName="time">

    </form>

    <label class="form-label">Teachers:</label>
    <div *ngFor="let item of checkboxesDataList">
        <input type="checkbox" name="" id="" [(ngModel)]="item.isChecked" (change)="changeSelection()">
        {{item.teacher}}
    </div>

    <form [formGroup]="classForm" (ngSubmit)="updateClass()">

        <p *ngIf="classForm.status == 'INVALID'" class="text-muted mt-3">Complete the form to enable button.</p>

        <button class="btn btn-primary mt-3" data-bs-toggle="modal" type="submit" data-bs-target="#updateClassModal"
            id="updateClassInput">Update Class</button>

        <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/class">Back</button>

    </form>
</div>
<zondagschoolapp-footer></zondagschoolapp-footer>