<zondagschoolapp-navbar></zondagschoolapp-navbar>

<div class="wrapper p-4 mb-5" *ngIf="student">
    <div class="row border-bottom mb-3">
        <h1>Leerling '{{this.student.firstname}} {{this.student.lastname}}' verwijderen</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Naam : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.firstname}} {{this.student.lastname}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Geboortedatum : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.birthdate! | date : 'dd-MM-yyyy'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Stad : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.city}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Straat : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.street}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Huisnummer : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.housenumber}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Postcode : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.student.postalcode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Zit in klas : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p *ngFor="let class of this.classes">{{class!.name}} (Leeftijd: {{class!.age}} jaar, Tijd: {{class!.time}})</p>
        </div>
    </div>

    <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#deleteStudentModal"
        id="deleteStudentInput">Verwijder</button>
    <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/student">Terug</button>


    <div id="deleteStudentModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verwijder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je leerling '{{this.student.firstname}} {{this.student.lastname}}' wilt
                        verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <button (click)="deleteStudent()" data-bs-dismiss="modal" class="btn btn-primary">Wijzigingen
                        opslaan</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myModal = document.getElementById('deleteStudentModal')
        var myInput = document.getElementById('deleteStudentInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>

</div>

<zondagschoolapp-footer></zondagschoolapp-footer>