<zondagschoolapp-navbar></zondagschoolapp-navbar>

<!-- Title -->
<div class="row mb-2">
    <h1>Leerlingen</h1>
</div>

<!-- Tabel -->
<div class="table-container mb-3">
    <table class="table table-striped">
        <thead>
            <tr scope="row">
                <th style="width: 14%;" scope="col">#</th>
                <th style="width: 34.5%;" scope="col">Naam</th>
                <th style="width: 36.5%;" scope="col">Woonplaats</th>
                <th style="width: 16%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="read/{{student._id}}" style="text-decoration: underline;"
                class="align-items-center justify-content-center" *ngFor="let student of this.students; let i = index">
                <th scope="row">{{i}}</th>
                <td>
                    {{ student.firstname }} {{student.lastname}}
                </td>
                <td>{{ student.city }}</td>
                <td id="lastcolumn">
                    <button class="btn btn-primary me-2 my-1" routerLink="edit/{{student._id}}"><img
                            src="../../../assets/images/icons8-pencil-90.png" width="25px" height="25px"></button>
                    <button class="btn btn-primary" routerLink="delete/{{student._id}}"><img
                            src="../../../assets/images/icons8-remove-90.png" width="25px" height="25px"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button routerLink="/student/create" class="btn btn-primary"> Nieuwe Leerling </button>

<zondagschoolapp-footer></zondagschoolapp-footer>