<div *ngIf="this.teacher" class="wrapper">
    <div class="row border-bottom mb-4">
        <h1>Update Teacher '{{this.teacher.username}}'</h1>
    </div>

    <form [formGroup]="teacherForm" (ngSubmit)="updateTeacher()">

        <label class="form-label" for="username">Username: </label>
        <input class="form-control mb-2" id="username" [value]="this.teacher.username" maxlength="20" type="text"
            formControlName="username">

        <label class="form-label" for="name">Email Address: </label>
        <input class="form-control mb-2" id="email" type="text" formControlName="email">

        <p *ngIf="teacherForm.status == 'INVALID'" class="text-muted">Complete the form to enable button.</p>

        <button class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#updateTeacherModal"
            id="updateTeacherInput" [disabled]="!teacherForm.valid">Update Teacher</button>

        <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/teacher">Back</button>


        <div id="updateTeacherModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to udpate '{{this.teacher.username}}'</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" routerLink="/teacher" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var myModal = document.getElementById('updateTeacherModal')
    var myInput = document.getElementById('updateTeacherInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>