<!-- New Teacher -->
<div class="row mb-2">
    <h2>New Teacher</h2>
</div>

<form [formGroup]="teacherForm" (ngSubmit)="createTeacher()">

    <label class="form-label" for="emailAddress">Email Address: </label>
    <input class="form-control mb-2" id="emailAddress" maxlength="20" type="text" formControlName="emailAddress">

    <label class="form-label" for="firstName">First Name: </label>
    <input class="form-control mb-2" id="firstName" type="text" formControlName="firstName">

    <label class="form-label" for="lastName">Last Name: </label>
    <input class="form-control mb-2" id="lastName" type="text" formControlName="lastName">

    <label class="form-label" for="birthDate">BirthDate: </label>
    <input class="form-control mb-2" id="birthDate" type="date" formControlName="birthDate">

    <label class="form-label" for="city">City: </label>
    <input class="form-control mb-2" id="city" type="text" formControlName="city">

    <label class="form-label" for="street">Street: </label>
    <input class="form-control mb-2" id="street" type="text" formControlName="street">

    <label class="form-label" for="houseNumber">Housenumber: </label>
    <input class="form-control mb-2" id="houseNumber" type="number" formControlName="houseNumber">

    <label class="form-label" for="postalCode">Postal Code: </label>
    <input class="form-control mb-2" id="postalCode" type="text" formControlName="postalCode">

    <p *ngIf="teacherForm.status == 'INVALID'" class="text-muted">Complete the form to enable button.</p>

    <button class="btn btn-primary mt-2" type="submit" [disabled]="!teacherForm.valid">Create Teacher</button>
</form>