<zondagschoolapp-navbar></zondagschoolapp-navbar>

<!-- New Teacher -->
<div class="row mb-2">
    <h2>Nieuwe Leraar</h2>
</div>

<form [formGroup]="teacherForm" (ngSubmit)="createTeacher()">

    <label class="form-label" for="emailAddress">Emailadres: </label>
    <input
        [class.is-invalid]="this.teacherForm.get('emailAddress')!.invalid && this.teacherForm.get('emailAddress')!.touched"
        class="form-control mb-2" id="emailAddress" type="text" formControlName="emailAddress">
    <div *ngIf="this.teacherForm.get('emailAddress')!.invalid && this.teacherForm.get('emailAddress')!.touched">
        <small style="color: red;">Vul een geldig emailadres in!</small>
    </div>

    <label class="form-label" for="firstName">Voornaam: </label>
    <input class="form-control mb-2" id="firstName" type="text" formControlName="firstName">

    <label class="form-label" for="lastName">Achternaam: </label>
    <input class="form-control mb-2" id="lastName" type="text" formControlName="lastName">

    <label class="form-label" for="birthDate">Geboortedatum: </label>
    <input class="form-control mb-2" id="birthDate" max="{{this.dateNow}}" type="date" formControlName="birthDate">

    <label class="form-label" for="city">Stad: </label>
    <input class="form-control mb-2" id="city" type="text" formControlName="city">

    <label class="form-label" for="street">Straat: </label>
    <input class="form-control mb-2" id="street" type="text" formControlName="street">

    <label class="form-label" for="houseNumber">Huisnummer: </label>
    <input class="form-control mb-2" id="houseNumber" type="number" formControlName="houseNumber">

    <label class="form-label" for="postalCode">Postcode: </label>
    <input
        [class.is-invalid]="this.teacherForm.get('postalCode')!.invalid && this.teacherForm.get('postalCode')!.touched"
        class="form-control mb-2" id="postalCode" type="text" formControlName="postalCode">
    <div *ngIf="this.teacherForm.get('postalCode')!.invalid && this.teacherForm.get('postalCode')!.touched">
        <small style="color: red;">Vul een geldige postcode in!</small>
    </div>

    <p *ngIf="teacherForm.status == 'INVALID'" class="text-muted">Vul alle velden in om door te gaan</p>

    <button class="btn btn-primary mt-2" type="submit" [disabled]="!this.teacherForm.valid">Toevoegen</button>
    <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/teacher">Terug</button>
</form>

<zondagschoolapp-footer></zondagschoolapp-footer>