<div class="wrapper p-4" *ngIf="teacher">

    <div class="row border-bottom mb-3">
        <h1>Viewing teacher '{{this.teacher.firstName}} {{this.teacher.lastName}}'</h1>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3 text-end">
            <p><b>Name : </b></p>
            <p><b>Email Address : </b></p>
            <p><b>Birthday : </b></p>
            <p><b>City : </b></p>
            <p><b>Street : </b></p>
            <p><b>Housenumber : </b></p>
            <p><b>Postalcode : </b></p>
        </div>
        <div class="col">
            <p>{{this.teacher.firstName}} {{this.teacher.lastName}}</p>
            <p>{{this.teacher.emailAddress}}</p>
            <p>{{this.teacherBirthDate}}</p>
            <p>{{this.teacher.city}}</p>
            <p>{{this.teacher.street}}</p>
            <p>{{this.teacher.houseNumber}}</p>
            <p>{{this.teacher.postalCode}}</p>
        </div>
    </div>

    <button class="btn btn-secondary mt-2" style="float:right;" routerLink="/teacher">Back</button>

</div>