<zondagschoolapp-navbar></zondagschoolapp-navbar>

<div class="wrapper p-4 mb-5" *ngIf="teacher">
    <div class="row border-bottom mb-3">
        <h1>Viewing teacher '{{this.teacher.firstname}} {{this.teacher.lastname}}'</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Name : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.firstname}} {{this.teacher.lastname}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Email Address : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.emailaddress}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Birthday : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.birthdate! | date : 'dd-MM-yyyy'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>City : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.city}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Street : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.street}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Housenumber : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.housenumber}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <p><b>Postalcode : </b></p>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>{{this.teacher.postalcode}}</p>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!userExists">
        <h5><b>Create login for this teacher</b></h5>
        <form [formGroup]="createLoginForm" (ngSubmit)="createUserLogin()">
            <label class="form-label" for="emailaddress">Email Address:</label>
            <input class="form-control mb-2" id="emailaddress" [readOnly]="true" type="text"
                formControlName="emailaddress">

            <label class="form-label" for="password">Password: </label>
            <input class="form-control mb-2" id="password" maxlength="20" type="text" formControlName="password">

            <label class="form-label" for="admin">User is admin</label>
            <input class="form-check mb-2" id="admin" type="checkbox" formControlName="admin">

            <button class="btn btn-primary mt-2" type="submit" [disabled]="!createLoginForm.valid">Create
                Teacher</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-6 ms-auto">
            <button class="btn btn-secondary mt-2 px-4" routerLink="/teacher">Back</button>
        </div>
    </div>
</div>

<zondagschoolapp-footer></zondagschoolapp-footer>