<div class="row mb-2">
    <h1>About Us</h1>
</div>

<div class="row mb-2">
    <h2>De maker</h2>
</div>

<div class="row align-items-center mb-3">
    <div class="col-lg-auto col-md-12">
        <p>Ik ben Daan van der meulen, ik ben een student informatica aan de Avans Hogeschool in Breda. Naast mijn
            studie ben ik werkenden als een junior software engineer bij Mastex Software BV.</p>
    </div>
    <div class="col-lg-auto col-md-12 mb-4 text-center order-first">
        <img src="../../assets/images/DaanVanDerMeulen.jpg" style="box-shadow: 10px 10px 5px -5px lightgray;"
            width="300px">
    </div>
</div>

<div class="row mb-2">
    <h2>Casus</h2>
</div>

<div class="row mb-2">
    <h4>Beschrijving</h4>
</div>

<div class="row align-items-center mb-3">
    <div class="col">
        <p>De zondagschool ‘De Liefde’, is een school waar kinderen les krijgen over de bijbel. Er is elke week één les
            na de ochtenddienst op zondag. Het is een school voor kinderen van groep 1 tot en met groep 8 met
            verschillende leraren voor deze groepen. De leidinggevende van deze zondagschool is op zoek naar een manier
            om de verschillende leraren, klassen en leerlingen te beheren in een overzichtelijk systeem. Deze
            leidinggevende en de leraren moeten de mogelijkheid hebben om in te loggen in dit systeem en de beschikbare
            acties voor hun rol uit te voeren. Dit staat duidelijker beschreven onder het kopje ‘Acties’.</p>
        <p>
            Het gaat om veel verschillende leerlingen met allemaal hun eigen verhaal, sommige kinderen hebben een
            beperking of een jeugdtrauma waar rekening mee wordt gehouden. Voor elke leerling moet aangegeven kunnen
            worden of er speciale omstandigheden van toepassing zijn en als er tips zijn om hiermee overweg te gaan.
            Deze tips moeten te zien zijn bij het profiel van deze leerlingen en het moet mogelijk zijn om voor de
            verschillende speciale omstandigheden, tips toe te voegen. Deze tips worden bij alle leerlingen met dezelfde
            ‘beperking’ weergegeven. Ook moet er bij leerlingen aangegeven woorden als er iemand in de familie een
            ‘beperking’ heeft. Hier kan dan rekening mee gehouden worden.
        </p>
    </div>
</div>

<div class="row mb-2">
    <h4>Acties</h4>
</div>

<div class="row align-items-center mb-3">
    <div class="col-lg-8 col-md-12">
        <p>Er is binnen deze zondagschool 1 leidinggevende die de mogelijkheid wil hebben om alles in het systeem te
            beheren. Hieronder vallen de volgende operaties:
        </p>
        <ul class="p">
            <li>Nieuwe leraren aanmaken.</li>
            <li>De gegevens van leraren aanpassen.</li>
            <li>Nieuwe klassen aanmaken.</li>
            <li>Alle operaties die leraren in het systeem mogen uitvoeren.</li>
        </ul>
        <p>
            <br>
            Het moet mogelijk zijn om verschillende typen leraren aan te maken, leraren mét de mogelijkheid om
            leerlingen te beheren en leraren zonder de mogelijkheid om leerlingen te beheren. Onder leerlingen beheren
            vallen de volgende operaties:
        </p>
        <ul class="p">
            <li>Leerlingen toevoegen aan klassen.</li>
            <li>Nieuwe leerlingen aanmaken.</li>
            <li>De gegevens van leerlingen aanpassen.</li>
            <li>Tips toevoegen voor verschillende speciale omstandigheden.</li>
        </ul>
    </div>
</div>

<div class="row mb-2">
    <h4>Entity Relationship Diagram</h4>
</div>

<div class="row align-items-center mb-3">
    <div class="col-lg-12 col-md-12 mb-4 text-start order-first">
        <img src="../../assets/images/ERD P2 NoSQL.png" width="80%">
    </div>
</div>

<div class="row mb-2">
    <h4>Entities</h4>
</div>

<div class="row align-items-center mb-3">
    <div class="row">
        <!-- User -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>User</b><i> (Super of Admin and Teacher)</i></th>
                </tr>
                <tr>
                    <td>*Emailaddress</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><i>string</i></td>
                </tr>
            </table>
        </div>
        <!-- Admin -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>Admin</b></th>
                </tr>
                <tr>
                    <td>firstName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>lastName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>birthDate</td>
                    <td><i>Date</i></td>
                </tr>
                <tr>
                    <td>city</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>street</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>houseNumber</td>
                    <td><i>number</i></td>
                </tr>
                <tr>
                    <td>postalCode</td>
                    <td><i>string</i></td>
                </tr>
            </table>
        </div>
        <!-- Teacher -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>Teacher</b></th>
                </tr>
                <tr>
                    <td>firstName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>lastName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>birthDate</td>
                    <td><i>Date</i></td>
                </tr>
                <tr>
                    <td>city</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>street</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>houseNumber</td>
                    <td><i>number</i></td>
                </tr>
                <tr>
                    <td>postalCode</td>
                    <td><i>string</i></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <!-- Class -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>Class</b></th>
                </tr>
                <tr>
                    <td>*id</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>age</td>
                    <td><i>number</i></td>
                </tr>
                <tr>
                    <td>time</td>
                    <td><i>Time</i></td>
                </tr>
                <tr>
                    <td>teachers</td>
                    <td><i>Teacher[]</i></td>
                </tr>
            </table>
        </div>
        <!-- Student -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>Student</b></th>
                </tr>
                <tr>
                    <td>*id</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>firstName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>lastName</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>birthDate</td>
                    <td><i>Date</i></td>
                </tr>
                <tr>
                    <td>city</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>street</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>houseNumber</td>
                    <td><i>number</i></td>
                </tr>
                <tr>
                    <td>postalCode</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>image</td>
                    <td><i>blob</i></td>
                </tr>
                <tr>
                    <td>familyMembers</td>
                    <td><i>Student[]</i></td>
                </tr>
            </table>
        </div>
        <!-- Speciality -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>Speciality</b></th>
                </tr>
                <tr>
                    <td>*name</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>specialityTips</td>
                    <td><i>SpecialityTip[]</i></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <!-- Speciality tips -->
        <div class="col col-md-4 col-sm-12 mb-4">
            <table>
                <tr>
                    <th colspan="2"><b>SpecialityTip</b></th>
                </tr>
                <tr>
                    <td>*id</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>description</td>
                    <td><i>string</i></td>
                </tr>
                <tr>
                    <td>usecase</td>
                    <td><i>string</i></td>
                </tr>
            </table>
        </div>
    </div>
</div>