<footer class="d-flex flex-wrap fixed-bottom justify-content-center align-items-center p-3 mb-0 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Zondagschool 'De Liefe'</p>
    <img src="../../assets/images/icons8-holy-bible-90.png" width="25px" height="25px">
    <ul class="nav col-md-5 justify-content-end">
        <li class="nav-item"><a routerLink="home" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a routerLink="teacher" class="nav-link px-2 text-muted">Teachers</a></li>
        <li class="nav-item"><a routerLink="class" class="nav-link px-2 text-muted">Classes</a></li>
        <li class="nav-item"><a routerLink="speciality" class="nav-link px-2 text-muted">Specialities</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
</footer>