:root {
    --firstcolor: #E0806C;
    --secondcolor: #614F4C;
    --thirdcolor: #E6BBB3;
    --fourthcolor: #AD6253;
    --fifthcolor: #61372F;
}

footer, .footer{
    background-color: var(--firstcolor);
    text-decoration: none;
    border-radius: 1rem 1rem 0 0 ;
    width: 95%;
    margin: auto;
}

 a {
    text-decoration: none;
    color: black;
}