<footer class="text-center text-white">
    <div class="container">
        <section class="">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-md-2">
                    <h6 class=" font-weight-bold">
                        <a routerLink="/home">Home</a>
                    </h6>
                </div>
                <div class="col-md-2" *ngIf="userIsAdmin">
                    <h6 class=" font-weight-bold">
                        <a routerLink="/teacher">Leraren</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class=" font-weight-bold">
                        <a routerLink="/student">Leerlingen</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class=" font-weight-bold">
                        <a routerLink="/class">Klassen</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class=" font-weight-bold">
                        <a routerLink="/speciality">Specialiteiten</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="font-weight-bold">
                        <a routerLink="/about">Over Dit Project</a>
                    </h6>
                </div>
            </div>
        </section>

    </div>
    <div class="text-center pb-2 text-black">
        <img src="../../assets/images/icons8-holy-bible-90.png" routerLink="/home" style="cursor: pointer;" width="25px"
            height="25px">
    </div>
</footer>